*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
header{
    width: 100%;
    height: 100px;
    color: aliceblue;
    background-color: rgb(36, 62, 62);
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}
.izquierdo{
    margin: 5px;
    width: 70%;
    color: cadetblue;
}
h3{
    margin-top: 20px;
    font-size: 30px;
    color: rgb(46, 46, 46);
    border-bottom: 5px solid rgb(73, 73, 73);
    font-family: 'Dosis', sans-serif;
}
p{
    margin: 10px;
}
.derecho{
    position: absolute;
    top: 105px; left: 1090px;
    width: 28%;
}
img{
    margin-left: 50px;
    border: 2px solid rgb(92, 92, 92);
}
h4{
    font-family: 'Secular One', sans-serif;
}